* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "comic sans", cursive;
}

body {
    /* width: 90vw; */
    margin: 20px;
}

.encabezado {
    position: relative;
}

h1 {
    position: absolute;
    top: 50px;
    margin-left: 10px;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.banner {
    width: 80vw;
}

.container-logo {
    position: relative;
    /* width: 100vw; */
}

h2 {
    position: absolute;
    background-color: black;
    color: beige;
    font-size: 2rem;
    text-align: center;
    top: 0px;
    display: block;
    width: 80vw;
    height: 65px;
    z-index: 1;
    position: sticky;
    top: 0px;
}

.logo {
    position: absolute;
    top: -70px;
    left: 60vw;
    background-color: white;
    height: 200px;
    margin: 5px;
    z-index: 12;
}

header {
    margin-bottom: 50px;
}

.aside-main {
    display: flex;
    justify-content: left;
}

aside {
    margin-right: 100px;
    width: 250px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

nav {
    display: flex;
    flex-direction: column;
}

nav>a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.seccion1 li {
    list-style: none;
}

.seccion1 a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 2rem;
}

main>p.schedule {
    display: inline;
    font-size: 2rem;
    font-style: italic;
}

main>p.subrayado {
    display: inline;
    text-decoration-line: underline;
}

table {
    width:800px;
}

thead {
    background-color: #eaeaea;
    text-align: center;
}

thead th {
    font-family: Arial, sans-serif;
    border-top: 1px #000033 solid;
    border-bottom: 1px #000033 solid;
    font-size: 2rem;
}

tbody {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

tbody td {
    border-bottom: 1px #000033 solid;
    padding-left: 25px;
}

div .seccion1 {
    width: 60vw;
}
div .seccion2 {
    font-size: 2rem;
    width: 60vw;
}
.seccion1 p{
    font-size: 2rem;
}

div>.schedule-block {
    display: inline;
    margin-right:50px;
  }

  label {
      display: block;
      font: 1rem 'Fira Sans', sans-serif;
  }

  input,
  label {
      margin: 0.4rem 0;
  }


  /* @media only screen and (max-width: 600) {
      body {
          background-color: lightblue;
      }
  } */