* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "comic sans", cursive;
}

body {
    margin: 20px;
}

.encabezado {
    position: relative;
}

h1 {
    position: absolute;
    top: 50px;
    margin-left: 10px;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.banner {
    width: 80vw;
}

.container-logo {
    position: relative;
    width: 100vw;
}

h2 {
    position: absolute;
    background-color: black;
    color: beige;
    font-size: 2rem;
    text-align: center;
    top: 0px;
    display: block;
    width: 80vw;
    height: 65px;
    z-index: 1;
    position: sticky;
    top: 0px;
}

.logo {
    position: absolute;
    top: -70px;
    left: 60vw;
    background-color: white;
    height: 200px;
    margin: 5px;
    z-index: 12;
}
.aside-main{
    position: relative;
}
aside{
    position: absolute;
    top: 50px;
    left: 5px;
    width: 40vw;
}
main{
position: absolute;
    top: 50px;
    left: 250px;
    width: 60vw;
}
nav{
    display: flex;
    flex-direction: column;
  }
nav>a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}
ul>li{
    list-style: none;
    }
li>p{
    font-size: 2rem;
    width: 90%;n>p,
}
main>p{
    font-size: 2rem;
  
}
main>p>a{
    text-decoration: none;
    color: black;
}
h3{
    font-size: 3rem;
}
main>p.schedule{
   
    font-size: 2rem;
    font-style: italic;
}
main>p.aclaracion{
text-decoration-line: underline;
}